In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import pymysql
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:////Users/Stefania/downloads/stefaniabraca.db')
query = "select * from personal_info"
dfpersonal_info = pd.read_sql_query(query, engine)
query = "select * from business_info"
dfbusiness_info = pd.read_sql_query(query, engine)
query = "select * from rank_info"
dfrank_info = pd.read_sql_query(query, engine)

In [7]:
def get_main_data(df1, df2, df3):

    merged_df = df1.merge(df2, on='id')
    raw_df = merged_df.merge(df3, on='id')
    return raw_df

raw_df = get_main_data(dfpersonal_info, dfbusiness_info, dfrank_info)

In [8]:
raw_df

,id,lastName,age,Unnamed: 0_x,gender,country,image,Unnamed: 0_y,Source,worth,worthChange,realTimeWorth,realTimePosition,name,position,Unnamed: 0
0,5227,bEZOS,54 years old,52,None,United States,https://specials-images.forbesimg.com/imageser...,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,None,1,jeff BEZos,1.0,52
1,2642,GATES,62 years old,53,M,None,https://specials-images.forbesimg.com/imageser...,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,None,2,bill GATES,2.0,53
2,5422,bufFETT,87 years old,54,M,None,https://specials-images.forbesimg.com/imageser...,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,None,3,warrEN BUFFEtt,3.0,54
3,8183,aRNAULt,69 years old,55,M,France,https://specials-images.forbesimg.com/imageser...,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,None,4,bernarD ARNAULT,4.0,55
4,5642,zuckeRBERG,1985,56,M,USA,https://specials-images.forbesimg.com/imageser...,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,None,5,mark zUCKERBerg,5.0,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,7670,zhAO,51 years old,2255,None,China,https://specials-images.forbesimg.com/imageser...,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,None,2134,zHAO XIAOQIANG,2204.0,2255
2204,1310,zhOU,55 years old,2256,M,China,https://specials-images.forbesimg.com/imageser...,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,None,2134,zhOU LIANGZHang,2205.0,2256
2205,4488,zHU,51 years old,2257,M,None,https://specials-images.forbesimg.com/imageser...,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,None,1856,zhu XINGMING,2206.0,2257
2206,7152,zhUO,52 years old,2258,Female,Hong Kong,https://specials-images.forbesimg.com/imageser...,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,None,1978,ZHUO JUn,2207.0,2258
2207,7214,zORLU,54 years old,2259,None,Turkey,https://specials-images.forbesimg.com/imageser...,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,None,1978,OLGUN ZORlu,2208.0,2259

In [10]:
raw_df.to_csv('../data/raw_df.csv', index=False)